{
  "openapi": "3.0.0",
  "info": {
    "title": "Conty APIs",
    "version": "v2.0.0",
    "description": "APIs internas da Conty.\n\n**Social Go API**: Sincronizacao e analise de metricas de redes sociais (Instagram e TikTok).\n\n**Conty Match API**: Sistema de matchmaking inteligente para criadores UGC usando embeddings semanticos."
  },
  "servers": [
    {
      "url": "https://social-api.appconty.com",
      "description": "Social Go - Produção"
    },
    {
      "url": "https://conty-match-api-4xfik3pk2q-uc.a.run.app",
      "description": "Conty Match - Produção"
    },
    {
      "url": "http://localhost:8080",
      "description": "Servidor Local (Desenvolvimento)"
    }
  ],
  "security": [
    {
      "InternalAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Verificacao de saude da API",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "API saudavel.",
            "content": {
              "text/plain": {
                "example": "OK"
              }
            }
          },
          "503": {
            "description": "Servico indisponivel (banco offline)."
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "summary": "Consultar status de um Job",
        "operationId": "getJobStatus",
        "description": "Retorna o estado atual e resultado (se concluido) de um job assincrono.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status do job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "404": {
            "description": "Recurso nao encontrado."
          }
        }
      }
    },
    "/connect": {
      "post": {
        "summary": "Conectar nova conta",
        "operationId": "connectAccount",
        "description": "Registra uma nova conta e inicia sync inicial.",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conta conectada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos."
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "Listar contas",
        "operationId": "listAccounts",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de contas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    },
    "/accounts/{id}/sync": {
      "post": {
        "summary": "Forcar sincronizacao",
        "operationId": "syncAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync iniciado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "synced"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "404": {
            "description": "Recurso nao encontrado."
          }
        }
      }
    },
    "/accounts/{id}/dashboard": {
      "get": {
        "summary": "Obter dados do Dashboard",
        "operationId": "getDashboard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardData"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "404": {
            "description": "Recurso nao encontrado."
          }
        }
      }
    },
    "/posts/{id}/analytics": {
      "get": {
        "summary": "Historico de metricas de Post",
        "operationId": "getPostAnalytics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historico retornado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAnalytics"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "404": {
            "description": "Recurso nao encontrado."
          }
        }
      }
    },
    "/tiktok/download": {
      "post": {
        "summary": "Iniciar Job de Download e Analise TikTok",
        "operationId": "downloadTikTok",
        "description": "Inicia um job assincrono para baixar e analisar um video do TikTok. Retorna imediatamente um Job ID para polling.\n\nRate Limit: 5 requests/minuto por enterprise.",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadTikTokRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job aceito e iniciado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "429": {
            "description": "Rate limit excedido."
          }
        }
      }
    },
    "/video/enriched-metrics": {
      "post": {
        "summary": "Iniciar Job de Metricas Enriquecidas (IA)",
        "operationId": "enrichedMetrics",
        "description": "Inicia analise de IA para metricas enriquecidas. Retorna Job ID para polling.\n\nRate Limit: 10 requests/minuto por enterprise.",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichedMetricsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job iniciado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "429": {
            "description": "Rate limit excedido."
          }
        }
      }
    },
    "/v1/accounts/{id}/insights": {
      "get": {
        "summary": "Account Insights",
        "operationId": "getAccountInsights",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insights retornados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInsights"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    },
    "/v1/competitive/compare": {
      "post": {
        "summary": "Competitive Comparison",
        "operationId": "competitiveCompare",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompetitiveCompareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comparacao realizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitiveComparison"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    },
    "/v1/predictions/video": {
      "post": {
        "summary": "Video Prediction",
        "operationId": "videoPrediction",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoPredictionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Predicao gerada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoPrediction"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    },
    "/api/matches": {
      "post": {
        "tags": ["Match"],
        "summary": "Encontrar matches para campanha",
        "operationId": "findMatches",
        "description": "Encontra criadores UGC que fazem match com os criterios da campanha usando embeddings semanticos e machine learning.",
        "security": [{ "MatchAPIKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchRequest"
              },
              "example": {
                "name": "Campanha Tech 2024",
                "goal": "branding",
                "description": "Procuramos desenvolvedores para falar sobre programação",
                "status": "approved",
                "target_age_min": 20,
                "target_age_max": 40,
                "target_gender": "todos",
                "target_interests": ["tecnologia", "programação"],
                "video_formats": ["tutoriais"],
                "max_results": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matches encontrados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisicao invalida."
          },
          "401": {
            "description": "API Key invalida."
          },
          "500": {
            "description": "Erro interno."
          }
        }
      }
    },
    "/api/matches/process-all": {
      "post": {
        "tags": ["Match"],
        "summary": "Processar todas as campanhas aprovadas",
        "operationId": "processAllMatches",
        "description": "Processa todas as campanhas com status 'approved' do banco de dados, encontrando matches para cada uma. Cria missoes e envia notificacoes automaticamente. Ideal para cronjobs.",
        "security": [{ "MatchAPIKey": [] }],
        "parameters": [
          {
            "name": "max_results_per_campaign",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 500
            },
            "description": "Maximo de matches por campanha"
          },
          {
            "name": "min_score",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 0,
              "minimum": 0,
              "maximum": 100
            },
            "description": "Score minimo para incluir match"
          }
        ],
        "responses": {
          "200": {
            "description": "Processamento concluido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessAllMatchesResponse"
                }
              }
            }
          },
          "401": {
            "description": "API Key invalida."
          },
          "500": {
            "description": "Erro no processamento."
          }
        }
      }
    },
    "/api/missions": {
      "post": {
        "tags": ["Match"],
        "summary": "Criar missoes patrocinadas",
        "operationId": "createMissions",
        "description": "Cria missoes patrocinadas para os usuarios matched com uma campanha.",
        "security": [{ "MatchAPIKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMissionsRequest"
              },
              "example": {
                "campaign_id": "660e8400-e29b-41d4-a716-446655440000",
                "user_ids": [
                  "770e8400-e29b-41d4-a716-446655440001",
                  "770e8400-e29b-41d4-a716-446655440002"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Missoes criadas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMissionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisicao invalida."
          },
          "401": {
            "description": "API Key invalida."
          },
          "503": {
            "description": "Servico indisponivel."
          }
        }
      }
    },
    "/api/notifications/send": {
      "post": {
        "tags": ["Match"],
        "summary": "Enviar notificacao push",
        "operationId": "sendNotification",
        "description": "Envia uma notificacao push generica via OneSignal.",
        "security": [{ "MatchAPIKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendNotificationRequest"
              },
              "example": {
                "target": {
                  "type": "players",
                  "player_ids": ["player-123", "player-456"]
                },
                "data": {
                  "title": "Nova Campanha!",
                  "message": "Voce foi selecionado para uma nova campanha",
                  "action_url": "conty://campaigns/123"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notificacao enviada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisicao invalida."
          },
          "401": {
            "description": "API Key invalida."
          }
        }
      }
    },
    "/api/debug/creators": {
      "get": {
        "tags": ["Match"],
        "summary": "Listar todos os criadores",
        "operationId": "listCreators",
        "description": "Retorna lista resumida de todos os criadores disponiveis para matching.",
        "security": [{ "MatchAPIKey": [] }],
        "responses": {
          "200": {
            "description": "Lista de criadores.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorsListResponse"
                },
                "example": {
                  "total": 40,
                  "creators": [
                    { "id": "uuid-1", "handle": "@creator1", "profession": "Developer" },
                    { "id": "uuid-2", "handle": "@creator2", "profession": "Designer" }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key invalida."
          },
          "500": {
            "description": "Erro interno."
          }
        }
      }
    },
    "/api/debug/creator/{id}": {
      "get": {
        "tags": ["Match"],
        "summary": "Detalhes de um criador",
        "operationId": "getCreator",
        "description": "Retorna detalhes completos de um criador especifico incluindo texto de embedding.",
        "security": [{ "MatchAPIKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID do criador"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do criador.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorDetails"
                }
              }
            }
          },
          "401": {
            "description": "API Key invalida."
          },
          "404": {
            "description": "Criador nao encontrado."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "InternalAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Internal-Secret",
        "description": "Autenticacao para Social Go API"
      },
      "MatchAPIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Autenticacao para Conty Match API"
      }
    },
    "schemas": {
      "APIError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "ERR_INVALID_DATA"
          },
          "message": {
            "type": "string",
            "example": "Invalid data provided"
          }
        }
      },
      "JobStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "example": "DOWNLOAD_TIKTOK"
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "COMPLETED", "FAILED"]
          },
          "enterprise_id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "input_payload": {
            "type": "object"
          },
          "result_payload": {
            "type": "object"
          },
          "error_message": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "attempts": {
            "type": "integer"
          },
          "max_attempts": {
            "type": "integer"
          }
        }
      },
      "JobCreatedResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "example": "PENDING"
          },
          "message": {
            "type": "string",
            "example": "Job created. Poll GET /jobs/{id} for status."
          }
        }
      },
      "ConnectRequest": {
        "type": "object",
        "required": ["username", "platform", "options"],
        "properties": {
          "username": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "enum": ["INSTAGRAM", "TIKTOK"]
          },
          "options": {
            "type": "object",
            "properties": {
              "fetch_profile": { "type": "boolean" },
              "fetch_posts": { "type": "boolean" },
              "fetch_reels": { "type": "boolean" },
              "posts_limit": { "type": "integer" },
              "reels_limit": { "type": "integer" },
              "newer_than": { "type": "string" }
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "username": { "type": "string" },
          "platform": { "type": "string", "enum": ["INSTAGRAM", "TIKTOK"] },
          "profile_name": { "type": "string" },
          "profile_pic_url": { "type": "string" },
          "followers_count": { "type": "integer" },
          "following_count": { "type": "integer" },
          "posts_count": { "type": "integer" },
          "is_verified": { "type": "boolean" },
          "last_sync_at": { "type": "string", "format": "date-time" }
        }
      },
      "DashboardData": {
        "type": "object",
        "properties": {
          "recent_posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "account_id": { "type": "string", "format": "uuid" },
          "external_id": { "type": "string" },
          "caption": { "type": "string" },
          "type": { "type": "string", "enum": ["IMAGE", "VIDEO", "CAROUSEL"] },
          "media_url": { "type": "string" },
          "thumbnail_url": { "type": "string" },
          "permalink": { "type": "string" },
          "posted_at": { "type": "string", "format": "date-time" },
          "latest_likes": { "type": "integer" },
          "latest_comments": { "type": "integer" },
          "latest_views": { "type": "integer" },
          "latest_engagement_rate": { "type": "number" }
        }
      },
      "PostAnalytics": {
        "type": "object",
        "properties": {
          "post_id": { "type": "string", "format": "uuid" },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": { "type": "string", "format": "date-time" },
                "likes": { "type": "integer" },
                "views": { "type": "integer" },
                "engagement_rate": { "type": "number" }
              }
            }
          }
        }
      },
      "DownloadTikTokRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "example": "https://www.tiktok.com/@user/video/123"
          }
        }
      },
      "EnrichedMetricsRequest": {
        "type": "object",
        "required": ["video_url"],
        "properties": {
          "video_url": { "type": "string" },
          "goal": { "type": "string", "enum": ["awareness", "engagement", "conversion"] },
          "views": { "type": "integer" },
          "reach": { "type": "integer" },
          "likes": { "type": "integer" },
          "comments": { "type": "integer" },
          "shares": { "type": "integer" },
          "saves": { "type": "integer" },
          "duration_seconds": { "type": "number" },
          "avg_watch_time_seconds": { "type": "number" }
        }
      },
      "AccountInsights": {
        "type": "object",
        "properties": {
          "account_id": { "type": "string" },
          "metrics": {
            "type": "object",
            "properties": {
              "total_followers": { "type": "integer" },
              "engagement_rate": { "type": "number" }
            }
          },
          "highlights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Highlight"
            }
          },
          "conty_creator_score": { "type": "number" }
        }
      },
      "Highlight": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "CompetitiveCompareRequest": {
        "type": "object",
        "required": ["base_account_id", "competitors"],
        "properties": {
          "base_account_id": { "type": "string" },
          "competitors": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "CompetitiveComparison": {
        "type": "object",
        "properties": {
          "base_account": {
            "$ref": "#/components/schemas/AccountSummary"
          },
          "competitors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompetitorAnalysis"
            }
          }
        }
      },
      "AccountSummary": {
        "type": "object",
        "properties": {
          "username": { "type": "string" },
          "followers": { "type": "integer" }
        }
      },
      "CompetitorAnalysis": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountSummary"
          },
          "engagement_rate": { "type": "number" }
        }
      },
      "VideoPredictionInput": {
        "type": "object",
        "required": ["platform", "duration_seconds", "content_type"],
        "properties": {
          "platform": { "type": "string" },
          "duration_seconds": { "type": "integer" },
          "hashtag_count": { "type": "integer" },
          "post_hour": { "type": "integer" },
          "content_type": { "type": "string" },
          "followers_count": { "type": "integer" },
          "avg_views_last_7": { "type": "integer" }
        }
      },
      "VideoPrediction": {
        "type": "object",
        "properties": {
          "views_range": {
            "type": "object",
            "properties": {
              "min": { "type": "integer" },
              "max": { "type": "integer" }
            }
          },
          "conty_viral_score": { "type": "number" }
        }
      },
      "MatchRequest": {
        "type": "object",
        "required": ["name", "description", "status"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "brand_id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "description": "Nome da campanha" },
          "goal": { "type": "string", "description": "Objetivo: branding, awareness, conversion" },
          "description": { "type": "string", "description": "Descricao detalhada da campanha" },
          "status": { "type": "string", "enum": ["approved"], "description": "Deve ser 'approved'" },
          "target_age_min": { "type": "integer", "minimum": 0 },
          "target_age_max": { "type": "integer", "minimum": 0 },
          "target_gender": { "type": "string", "enum": ["todos", "masculino", "feminino", "outro"] },
          "target_interests": { "type": "array", "items": { "type": "string" } },
          "additional_notes": { "type": "string" },
          "video_formats": { "type": "array", "items": { "type": "string" } },
          "min_followers": { "type": "integer", "minimum": 0 },
          "min_engagement": { "type": "number", "format": "float", "minimum": 0, "maximum": 1 },
          "max_results": { "type": "integer", "minimum": 1, "maximum": 500, "default": 50 },
          "min_similarity": { "type": "number", "format": "float", "minimum": 0, "maximum": 1 },
          "min_score": { "type": "number", "format": "float", "minimum": 0, "maximum": 100 }
        }
      },
      "MatchResponse": {
        "type": "object",
        "properties": {
          "total_matches": { "type": "integer" },
          "matches": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ScoredCreator" }
          },
          "time_taken": { "type": "string" }
        }
      },
      "ScoredCreator": {
        "type": "object",
        "properties": {
          "creator": { "$ref": "#/components/schemas/Creator" },
          "similarity": { "type": "number", "format": "float" },
          "score": { "type": "number", "format": "float" },
          "score_details": {
            "type": "object",
            "properties": {
              "semantic_score": { "type": "number" },
              "engagement_score": { "type": "number" },
              "followers_score": { "type": "number" },
              "completion_score": { "type": "number" }
            }
          }
        }
      },
      "Creator": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "instagram_handle": { "type": "string" },
          "profession": { "type": "string" },
          "niche": { "type": "string" },
          "followers": { "type": "integer" },
          "engagement_rate": { "type": "number" },
          "content_style": { "type": "array", "items": { "type": "string" } }
        }
      },
      "ProcessAllMatchesResponse": {
        "type": "object",
        "properties": {
          "total_campaigns": { "type": "integer" },
          "processed_count": { "type": "integer" },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CampaignMatchResult" }
          },
          "time_taken": { "type": "string" }
        }
      },
      "CampaignMatchResult": {
        "type": "object",
        "properties": {
          "campaign_id": { "type": "string", "format": "uuid" },
          "campaign_name": { "type": "string" },
          "enterprise_id": { "type": "string", "format": "uuid" },
          "total_matches": { "type": "integer" },
          "top_matches": { "type": "array", "items": { "$ref": "#/components/schemas/ScoredCreator" } },
          "missions_created": { "type": "boolean" },
          "notification_sent": { "type": "boolean" },
          "error": { "type": "string" }
        }
      },
      "CreateMissionsRequest": {
        "type": "object",
        "required": ["campaign_id", "user_ids"],
        "properties": {
          "campaign_id": { "type": "string", "format": "uuid" },
          "user_ids": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": { "type": "string", "format": "uuid" }
          }
        }
      },
      "CreateMissionsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "missions_count": { "type": "integer" },
          "message": { "type": "string" }
        }
      },
      "SendNotificationRequest": {
        "type": "object",
        "required": ["target", "data"],
        "properties": {
          "target": { "$ref": "#/components/schemas/NotificationTarget" },
          "data": { "$ref": "#/components/schemas/NotificationData" }
        }
      },
      "NotificationTarget": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": { "type": "string", "enum": ["all", "players", "segment"] },
          "player_ids": { "type": "array", "items": { "type": "string" } },
          "segment": { "type": "string" }
        }
      },
      "NotificationData": {
        "type": "object",
        "required": ["title", "message"],
        "properties": {
          "title": { "type": "string" },
          "message": { "type": "string" },
          "data": { "type": "object", "additionalProperties": true },
          "action_url": { "type": "string", "format": "uri" },
          "priority": { "type": "integer", "minimum": 1, "maximum": 10 },
          "ttl": { "type": "integer" },
          "sound": { "type": "string" }
        }
      },
      "NotificationResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "notification_id": { "type": "string" },
          "recipients": { "type": "integer" },
          "external_id": { "type": "string" },
          "error": { "type": "string" }
        }
      },
      "CreatorsListResponse": {
        "type": "object",
        "properties": {
          "total": { "type": "integer" },
          "creators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "handle": { "type": "string" },
                "profession": { "type": "string" }
              }
            }
          }
        }
      },
      "CreatorDetails": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "handle": { "type": "string" },
          "profession": { "type": "string" },
          "niche": { "type": "string" },
          "embedding_text": { "type": "string" }
        }
      }
    }
  }
}