{
  "openapi": "3.0.0",
  "info": {
    "title": "Social Go API",
    "version": "v2.0.0",
    "description": "API para sincronizacao e analise de metricas de redes sociais (Instagram e TikTok).\n\nEsta API e um microsservico interno projetado para ser consumido exclusivamente pelo backend principal da Conty."
  },
  "servers": [
    {
      "url": "https://social-api.appconty.com",
      "description": "Servidor de Produção"
    },
    {
      "url": "http://localhost:8080",
      "description": "Servidor Local (Desenvolvimento)"
    }
  ],
  "security": [
    {
      "InternalAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Verificacao de saude da API",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "API saudavel.",
            "content": {
              "text/plain": {
                "example": "OK"
              }
            }
          },
          "503": {
            "description": "Servico indisponivel (banco offline)."
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "summary": "Consultar status de um Job",
        "operationId": "getJobStatus",
        "description": "Retorna o estado atual e resultado (se concluido) de um job assincrono.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status do job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "404": {
            "description": "Recurso nao encontrado."
          }
        }
      }
    },
    "/connect": {
      "post": {
        "summary": "Conectar nova conta",
        "operationId": "connectAccount",
        "description": "Registra uma nova conta e inicia sync inicial.",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conta conectada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos."
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "Listar contas",
        "operationId": "listAccounts",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de contas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    },
    "/accounts/{id}/sync": {
      "post": {
        "summary": "Forcar sincronizacao",
        "operationId": "syncAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync iniciado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "synced"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "404": {
            "description": "Recurso nao encontrado."
          }
        }
      }
    },
    "/accounts/{id}/dashboard": {
      "get": {
        "summary": "Obter dados do Dashboard",
        "operationId": "getDashboard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardData"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "404": {
            "description": "Recurso nao encontrado."
          }
        }
      }
    },
    "/posts/{id}/analytics": {
      "get": {
        "summary": "Historico de metricas de Post",
        "operationId": "getPostAnalytics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historico retornado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAnalytics"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "404": {
            "description": "Recurso nao encontrado."
          }
        }
      }
    },
    "/tiktok/download": {
      "post": {
        "summary": "Iniciar Job de Download e Analise TikTok",
        "operationId": "downloadTikTok",
        "description": "Inicia um job assincrono para baixar e analisar um video do TikTok. Retorna imediatamente um Job ID para polling.\n\nRate Limit: 5 requests/minuto por enterprise.",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadTikTokRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job aceito e iniciado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "429": {
            "description": "Rate limit excedido."
          }
        }
      }
    },
    "/video/enriched-metrics": {
      "post": {
        "summary": "Iniciar Job de Metricas Enriquecidas (IA)",
        "operationId": "enrichedMetrics",
        "description": "Inicia analise de IA para metricas enriquecidas. Retorna Job ID para polling.\n\nRate Limit: 10 requests/minuto por enterprise.",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichedMetricsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job iniciado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          },
          "429": {
            "description": "Rate limit excedido."
          }
        }
      }
    },
    "/v1/accounts/{id}/insights": {
      "get": {
        "summary": "Account Insights",
        "operationId": "getAccountInsights",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insights retornados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInsights"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    },
    "/v1/competitive/compare": {
      "post": {
        "summary": "Competitive Comparison",
        "operationId": "competitiveCompare",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompetitiveCompareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comparacao realizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitiveComparison"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    },
    "/v1/predictions/video": {
      "post": {
        "summary": "Video Prediction",
        "operationId": "videoPrediction",
        "parameters": [
          {
            "name": "X-Enterprise-Id",
            "in": "header",
            "description": "UUID do tenant (enterprise) para contexto e isolamento de dados.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoPredictionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Predicao gerada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoPrediction"
                }
              }
            }
          },
          "401": {
            "description": "Autenticacao falhou."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "InternalAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Internal-Secret"
      }
    },
    "schemas": {
      "APIError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "ERR_INVALID_DATA"
          },
          "message": {
            "type": "string",
            "example": "Invalid data provided"
          }
        }
      },
      "JobStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "example": "DOWNLOAD_TIKTOK"
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "COMPLETED", "FAILED"]
          },
          "enterprise_id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "input_payload": {
            "type": "object"
          },
          "result_payload": {
            "type": "object"
          },
          "error_message": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "attempts": {
            "type": "integer"
          },
          "max_attempts": {
            "type": "integer"
          }
        }
      },
      "JobCreatedResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "example": "PENDING"
          },
          "message": {
            "type": "string",
            "example": "Job created. Poll GET /jobs/{id} for status."
          }
        }
      },
      "ConnectRequest": {
        "type": "object",
        "required": ["username", "platform", "options"],
        "properties": {
          "username": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "enum": ["INSTAGRAM", "TIKTOK"]
          },
          "options": {
            "type": "object",
            "properties": {
              "fetch_profile": { "type": "boolean" },
              "fetch_posts": { "type": "boolean" },
              "fetch_reels": { "type": "boolean" },
              "posts_limit": { "type": "integer" },
              "reels_limit": { "type": "integer" },
              "newer_than": { "type": "string" }
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "username": { "type": "string" },
          "platform": { "type": "string", "enum": ["INSTAGRAM", "TIKTOK"] },
          "profile_name": { "type": "string" },
          "profile_pic_url": { "type": "string" },
          "followers_count": { "type": "integer" },
          "following_count": { "type": "integer" },
          "posts_count": { "type": "integer" },
          "is_verified": { "type": "boolean" },
          "last_sync_at": { "type": "string", "format": "date-time" }
        }
      },
      "DashboardData": {
        "type": "object",
        "properties": {
          "recent_posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "account_id": { "type": "string", "format": "uuid" },
          "external_id": { "type": "string" },
          "caption": { "type": "string" },
          "type": { "type": "string", "enum": ["IMAGE", "VIDEO", "CAROUSEL"] },
          "media_url": { "type": "string" },
          "thumbnail_url": { "type": "string" },
          "permalink": { "type": "string" },
          "posted_at": { "type": "string", "format": "date-time" },
          "latest_likes": { "type": "integer" },
          "latest_comments": { "type": "integer" },
          "latest_views": { "type": "integer" },
          "latest_engagement_rate": { "type": "number" }
        }
      },
      "PostAnalytics": {
        "type": "object",
        "properties": {
          "post_id": { "type": "string", "format": "uuid" },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": { "type": "string", "format": "date-time" },
                "likes": { "type": "integer" },
                "views": { "type": "integer" },
                "engagement_rate": { "type": "number" }
              }
            }
          }
        }
      },
      "DownloadTikTokRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "example": "https://www.tiktok.com/@user/video/123"
          }
        }
      },
      "EnrichedMetricsRequest": {
        "type": "object",
        "required": ["video_url"],
        "properties": {
          "video_url": { "type": "string" },
          "goal": { "type": "string", "enum": ["awareness", "engagement", "conversion"] },
          "views": { "type": "integer" },
          "reach": { "type": "integer" },
          "likes": { "type": "integer" },
          "comments": { "type": "integer" },
          "shares": { "type": "integer" },
          "saves": { "type": "integer" },
          "duration_seconds": { "type": "number" },
          "avg_watch_time_seconds": { "type": "number" }
        }
      },
      "AccountInsights": {
        "type": "object",
        "properties": {
          "account_id": { "type": "string" },
          "metrics": {
            "type": "object",
            "properties": {
              "total_followers": { "type": "integer" },
              "engagement_rate": { "type": "number" }
            }
          },
          "highlights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Highlight"
            }
          },
          "conty_creator_score": { "type": "number" }
        }
      },
      "Highlight": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "CompetitiveCompareRequest": {
        "type": "object",
        "required": ["base_account_id", "competitors"],
        "properties": {
          "base_account_id": { "type": "string" },
          "competitors": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "CompetitiveComparison": {
        "type": "object",
        "properties": {
          "base_account": {
            "$ref": "#/components/schemas/AccountSummary"
          },
          "competitors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompetitorAnalysis"
            }
          }
        }
      },
      "AccountSummary": {
        "type": "object",
        "properties": {
          "username": { "type": "string" },
          "followers": { "type": "integer" }
        }
      },
      "CompetitorAnalysis": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountSummary"
          },
          "engagement_rate": { "type": "number" }
        }
      },
      "VideoPredictionInput": {
        "type": "object",
        "required": ["platform", "duration_seconds", "content_type"],
        "properties": {
          "platform": { "type": "string" },
          "duration_seconds": { "type": "integer" },
          "hashtag_count": { "type": "integer" },
          "post_hour": { "type": "integer" },
          "content_type": { "type": "string" },
          "followers_count": { "type": "integer" },
          "avg_views_last_7": { "type": "integer" }
        }
      },
      "VideoPrediction": {
        "type": "object",
        "properties": {
          "views_range": {
            "type": "object",
            "properties": {
              "min": { "type": "integer" },
              "max": { "type": "integer" }
            }
          },
          "conty_viral_score": { "type": "number" }
        }
      }
    }
  }
}